
Mvc-SimpleForm/.vs/Mvc-SimpleForm/v15/Server/sqlite3/db.lock
Mvc-SimpleForm/.vs/Mvc-SimpleForm/v15/Server/sqlite3/storage.ide
Mvc-SimpleForm/.vs/Mvc-SimpleForm/v15/Server/sqlite3/storage.ide-shm
Mvc-SimpleForm/.vs/Mvc-SimpleForm/v15/Server/sqlite3/storage.ide-wal
Mvc-SimpleForm/.vs/Mvc-SimpleForm/v15/Server/sqlite3/storage.ide-wal
Mvc-Boostrap/.vs/Mvc-Boostrap/v15/Server/sqlite3/storage.ide
Mvc-Boostrap/.vs/Mvc-Boostrap/v15/Server/sqlite3/db.lock
Mvc-Boostrap/.vs/Mvc-Boostrap/v15/Server/sqlite3/storage.ide-shm
Mvc-Boostrap/.vs/Mvc-Boostrap/v15/Server/sqlite3/storage.ide-wal
Mvc-HelperMethods/.vs/Mvc-HelperMethods/v15/Server/sqlite3/storage.ide
Mvc-HelperMethods/.vs/Mvc-HelperMethods/v15/Server/sqlite3/storage.ide-wal
AutoGenerateControllers/.vs/AutoGenerateControllers/v15/Server/sqlite3/storage.ide
AutoGenerateControllers/.vs/AutoGenerateControllers/v15/Server/sqlite3/storage.ide-wal
AutoGenerateControllers/.vs/AutoGenerateControllers/v15/Server/sqlite3/storage.ide-shm
