
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Helpers.Input("btn1", "button", "Send")
        @Helpers.Input("txt1", "text", "textbox")
        @Helpers.CreateTable("table1",3,5)
    </div>
</body>
</html>
